*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "arial";
}
.container{  
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.col-1{
    flex-basis: 50%;
    flex-grow: 1;
    background: #50CB93;
}
.col-2{
    flex-basis: 50%;
    flex-grow: 1;
}
.logo{
    padding-left: 20px;
    cursor: pointer;
}
.text{
    text-align: center;
    margin-top: 10%;
    font-size: 25px;
}
.image{
    margin: 20px;
    margin-left: 100px;
}
.image img{
    width: 360px;
}
form{
    margin-left: 50px;
    margin-top: 60px;
}
form h3{
    font-size: 20px;
    text-align: center;
    position: relative;
    margin: 30px 0;
}

.userpass input{
    width: 500px;
    padding: 0 5px;
    height: 40px;
    font-size: 16;
    border: none;
    background: none;
    outline: none;
    margin: 10px 0;
    border-bottom: 1px solid gray;
}
label{
    font-size: 16px;
    pointer-events: none;
}
input[type="submit"]{
    width: 120px;
    height: 30px;
    border: none ;
    background: #50CB93;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    margin: 30px 30% 0;
    transition: .4s;
}
input[type="submit"]:hover{
    transform: scale(1.2);
}
.forget{
    margin: 2px 32% 0;
}
.forget a{
    text-decoration: none;
    font-size: 10px;
    color: #000;
}
.btn{
    width: 200px;
    height: 35px;
    border: none ;
    background: #50CB93;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    margin: 30px 25% 0;
    transition: .4s;
    display: flex;
}
.btn img{
    width: 25px;
    height: 25px;
    margin: 5px;
    margin-left: 8px;
}
a{
    text-decoration: none;
}
.btn p{
    color: #000;
    margin-left: 50px;
    margin-top: 7px;
    font-size: 15px;
}
@media only screen and (max-width: 500px){
    /* .container{
        width: 50%;
    } */
    .col-1{
        display: none;
    }
    .col-2{
        flex-direction: column;
    }
    .userpass input{
        width: 300px;
    }
    form{
        margin-left: 50px;
        margin-top: 100px;
    }
    form h3{
        font-size: 20px;
    }
    input[type="submit"]{
        width: 100px;
        font-size: 18px;
        margin: 20px 30% 0;
    }
    .forget{
        margin: 2px 30% 0;
    }
    .forget a{
        font-size: 10px;
    }
    .btn{
        width: 150px;
        height: 30px;
        font-size: 15px;
        margin: 30px 23% 0;
        transition: .4s;
        display: flex;
    }
    .btn img{
        width: 15px;
        height: 15px;
        margin: 5px;
        margin-left: 8px;
    }
}